#Server config options
port = 9001
domain = "localhost:9001"

#WAMP specific settings
wamp_topic = "feed"

#Twitter specific OAuth2 shenanigans
oauth = {
	'api_key': '',
	'api_secret': '',
	'access_key': '',
	'access_secret': ''
}

#Database
db = "social_consumer"
user = "root"
password = ""

#Logging Configs
filename = 'namethispls.log'
level = 'DEBUG'
format = '%(asctime)s %(message)s - '
datefmt='%m/%d/%Y %I:%M:%S %p'

#Twitter filter options
use_bounding_box = False
use_filters = False
bounding_box = ["-80.441697, 32.512679", "-79.614146, 33.590588"]
filters = [
    "verizon",
    "tmobile",
    "t-mobile",
    "at&t",
    "sprint"
]