#Twitter specific OAuth2 shenanigans
api_key = ""
api_secret = ""
access_token = ""
access_secret = ""

#Database
db = "social_consumer"
user = "root"
password = ""

#Logging Configs
filename = 'namethispls.log'
level = 'DEBUG'
format = '%(asctime)s %(message)s - '
datefmt='%m/%d/%Y %I:%M:%S %p'