.ml-sign-in {
	/*float: right;*/
}

#ml-nav-container {
	padding-top: 51px;
}

.ml-container {
	margin-top:71px;
	overflow-x: auto;
	padding-left: 15px;
	white-space: nowrap;
}

.ml-stream-container {
	height: 800px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	display: inline-block;
	white-space: normal;
	float: none;
}

.ml-stream-container [class*="span"] {
}

#stream {
	padding-left: 0px;
}

.ml-logout-link {
	width:40px;
	height:50px;
}

.ml-tweet-row {
	padding: 0px 25px 0px 25px;
	border-bottom: 1px solid #ccc;
}

.ml-twitter-controls {
	display: inline;
}

.ml-favorite-link {
	font-size: 16px;
}

.ml-interact-link a:hover {
	text-decoration: none;
	cursor: pointer;
}

.ml-interact-link {
	font-size: 20px;
	text-decoration: none;
	display: inline;
}

.ml-account-dropdown-link {
	width: 20px;
	height: 20px;
}

#ml-twitter-icon {
	font-size: 16px;
}

#ml-logout-icon {
	font-size:23px;
}

.ml-trainer {
	display: inline;
	float: left;
	width: 25px;
	height: 81px;
	padding-top: 5px;
	padding-bottom:36px;
	padding-right: 5px;
}

.ml-trainer a {
	font-size: 12pt;
	display:block;
	color: black;
}

.ml-trainer span:hover {
	opacity: 0.9;
}

.ml-trainer span {
	/*display: none;*/
	opacity: 0.4;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}