.ml-sign-in {
	/*float: right;*/
}

#myCarousel {
	top:51px;
}

.ml-container {
	margin-top:71px;
}

.ml-stream-container {
	height: 800px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	padding: 0px 25px 0px 25px;
}

.ml-logout-link {
	width:40px;
	height:50px;
}

.ml-account-dropdown-link {
	width: 20px;
	height: 20px;
}

#ml-twitter-icon {
	font-size: 16px;
}

#ml-logout-icon {
	font-size:23px;
}

.ml-trainer {
	display: inline;
	float: left;
	width: 25px;
	height: 81px;
	padding-top: 10px;
	padding-right: 5px;
}

.ml-trainer a {
	font-size: 12pt;
	display:block;
	color: black;
}

.ml-trainer span:hover {
	opacity: 0.9;
}

.ml-trainer span {
	/*display: none;*/
	opacity: 0.4;
}