<div class="ml-container">
	<h3 style="border-bottom: 1px solid #ccc;">Who we are, and what we do..</h3>
	<p>Our team of social media and data science experts have years of experience. ML Systems was created because we feel the current social media management tools don’t go far enough.  Simple keyword searches and analytics are great, but they aren’t enough!  At least not for the businesses that want to be great.  With the lack of any options in the marketplace we set out to build what everyone lacked - a completely seamless social media management tool with a strong data mining backend that’s smart and effective enough for you to use while easy enough for social media novices to grasp.
	</p>
</div>