<!-- We use stream.name -->
<!-- 
doc.idstr
doc.created_at
doc.user.name
doc.user.screen_name
doc.text
-->
<div class="span5 col-xs-4 ml-stream-container" ng-repeat="stream in streams">
    	<h3 style="padding-left: 10px;">{{stream.name}} <a class="ml-interact-link" ng-click="newStatus($event, stream.id)"><span class="ion-compose ml-interact-link"></span></a></h3>
    <div style="padding-top: 30px;">
    <ol class="list-unstyled">
		<div id="row-{{doc.idstr}}" class="row ml-tweet-row" ng-repeat="doc in stream.statuses">
		    <li id="{{doc.idstr}}">
		        <div id="{{doc.idstr}}_div">
		            <h4>@{{doc.user.screen_name}}</h4> 
		            <p>{{doc.text}}</p>

		            <div class="ml-twitter-controls">
			            <div class="ml-favorite-link ml-interact-link">
			            	<a href="javascript:void(0);" class="ml-interact-link">
			            		<span class="ion-heart"></span>
			            	</a>
			            </div>
			            <div class="ml-reply-link ml-interact-link">
			            	<a href="" ng-click="reply($event, doc.user, doc.idstr, stream.id)" class="ml-interact-link">
			            		<span class="ion-reply"></span>
			            	</a>
			            </div>
			            <div class="ml-retweet-link ml-interact-link">
			            	<a class="ml-interact-link">
			            		<span class="ion-loop"></span>
			            	</a>
			            </div>
		            </div>
		            <div style="display: inline; margin-left: 10px;">
		                <h4 style="display: inline;">
		                    <small>{{doc.created_at}}</small>
		                </h4>
		            </div>
		        </div>
		    </li>
		</div>
    </ol>
    </div>
</div>
