<div class="span5 col-xs-4 ml-stream-container" ng-repeat="stream in streams">
    	<h3 style="padding-left: 10px;">{{stream.name}} <a class="ml-interact-link" ng-click="newStatus($event, stream.id)"><i class="fa fa-pencil-square-o ml-interact-link"></i></a></h3>
    <div style="padding-top: 30px;">
    <ol class="list-unstyled">
		<div id="row-{{doc.idstr}}" class="row ml-tweet-row" ng-repeat="doc in stream.statuses">
		    <li id="{{doc.idstr}}">
		        <div id="{{doc.idstr}}_div">
		            <h4>{{doc.user.name}} 
		            	<span class="text-muted">
		            		<small>
		            			@{{doc.user.screen_name}}
		            		</small>
		            	</span>
		            </h4> 
		            <p><div ng-bind-html="doc.text | linky:'_blank'"></div></p>

		            <div class="ml-twitter-controls">
			            <div class="ml-favorite-link ml-interact-link">
			            	<a href="javascript:void(0);" class="ml-interact-link">
			            		<i class="fa fa-star"></i>
			            	</a>
			            </div>
			            <div class="ml-reply-link ml-interact-link">
			            	<a href="" ng-click="reply($event, doc.user, doc.idstr, stream.id)" class="ml-interact-link">
			            		<i class="fa fa-reply"></i>
			            	</a>
			            </div>
			            <div class="ml-retweet-link ml-interact-link">
			            	<a class="ml-interact-link">
			            		<i class="fa fa-retweet"></i>
			            	</a>
			            </div>
		            </div>
		            <div style="display: inline; margin-left: 10px;">
		                <h4 style="display: inline;">
		                    <small>{{doc.created_at}}</small>
		                </h4>
		            </div>
		        </div>
		    </li>
		</div>
    </ol>
    </div>
</div>
