<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ML Systems landing page">
    <meta name="author" content="ML Systems">

    {% block head %}
    <title>{% block title %} {{ title }} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">

    <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </head>
    <body style="">
    {% block body %}
    <!-- <div class="navbar-wrapper"> -->
      <div id="ml-nav-container" class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">ML Systems</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>

              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="/home">{% if user is not none %} {{ user.username }} {% else %} Log in {% endif %}</a></li>
                  <li>
                    <a class="ml-logout-link" href="{{ url_for('auth.logout') }}">
                        {% if user %}
                        <i id="ml-logout-icon" class="fa fa-sign-out"></i>
                        {% endif %}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          
          </div>

        </div>

      </div>
      <div class="container ml-container">
        <h3 style="border-bottom: 1px solid #ccc;">Who we are, and what we do..</h3>
        <p>Our team of social media and data science experts have years of experience. ML Systems was created because we feel the current social media management tools don’t go far enough.  Simple keyword searches and analytics are great, but they aren’t enough!  At least not for the businesses that want to be great.  With the lack of any options in the marketplace we set out to build what everyone lacked - a completely seamless social media management tool with a strong data mining backend that’s smart and effective enough for you to use while easy enough for social media novices to grasp.
        </p>
      </div>
      {% endblock %}
    </body>
    </html>