<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ML Systems landing page">
    <meta name="author" content="ML Systems">

    <title>{% block title %} {{ title }} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autobahn.js') }}"></script>

        <script>
            window.wssession = null;
            var blinkerInterval = null,
                windowFocus = true,
                scrollTimeout = null,
                local = true == {{ local|tojson|safe }};

            $(document).ready(function() {
                $(window).focus(function() {
                    clearInterval(blinkerInterval);
                    windowFocus = true;
                    blinkerInterval = null;
                    $("title").text("Live View");
                });

                $(window).blur(function() {
                    windowFocus = false;
                });

                $(document).scroll(function() {
                    clearTimeout(scrollTimeout);
                    scrollTimeout = setTimeout(function() {

                        var currentPos = $(window).scrollTop() + $(window).height();

                        if (currentPos >= $(document).height()) {
                            //This jquery gives us the the date/time of the last element on the page ;)
                            //Will need to be updated though according to the structure of the tweets so this isn't a
                            //best-practice since it's coupled tightly
                            var date = new Date(Date.parse($("#stream ol li:last-child h4 small").html()));
                            getSomeTweets(date.toISOString(), false);
                            
                        }
                    }, 100);
                });

                var wsUrl = "ws://localhost:9001";
                if (!local) {
                    wsUrl = "ws://sugar.appendixg.com/wamp";
                }

                ab.connect(wsUrl, function(session) {
                    window.wssession = session;
                    window.wssession.subscribe('feed', topicActivity);

                    getSomeTweets(new Date().toISOString(), false);
                }, function(code, reason,detail) {
                    console.log("WS connection attempt failed");
                    console.log(reason);
                }, {
                    'maxRetries': 60,
                    'retryDelay': 2000
                });
            });
    
            function getSomeTweets(date, prepend) {
                if (typeof date === "undefined" || date === null) {
                    date = new Date().toISOString();
                }

                window.wssession.call('#getInit', date).then(
                    function(result) {
                        console.log("Got getSomeTweets result");
                        console.log(result);
                        if ("push" in result) {
                            for (var i=0; i<result.length;i++) {
                                tweet = JSON.parse(result[i].replace(/'/g, '"'));
                                tweet['text'] = tweet['message'];
                                addTweet(tweet, prepend);
                            }
                        } else {
                            console.log("Uhh it's not an array....");
                            console.log(result);
                        }
                        
                    },
                    function(error) {console.log(error);}
                );
            }
            function topicActivity(topic, event) {
                event = JSON.parse(event);
                console.log(event);
                if (event.hasOwnProperty("username")) {
                    addTweet(event, true);
                    blinkerInterval = window.setInterval(changeTitle, 700);
                }
            }

            function addTweet(tweet, prepend) {
                var children = $("#stream ol").children().length;
                
                if (children >= 10 && prepend === true) {
                    console.log("Removin some shit");
                    $("#stream ol li:last-child").remove();
                }

                var html = '' +
                '<li id="' + tweet['twitter_id'] + '">' +
                '   <div id="' + tweet['twitter_id'] + '_div" style="border-bottom: 1px solid #ccc;">' +
                '       <h4>' + tweet['username'] + '</h4>'+ 
                '       <p>' + tweet['text'] + '</p>' + 
                '       <a href="http://twitter.com/' + tweet['username'] + '/status/' + tweet['twitter_id'] + '" target="_blank"> Link to Tweet</a><div style="display: inline; margin-left: 18px;"><h4 style="display: inline;"><small>' + new Date(Date.parse(tweet['created_date'] + " GMT")).toLocaleString() + '</small></h4></div>' +
                '   </div>' +
                '</li>';

                if (prepend === false) {
                    $("#stream ol").append(html);
                } else {
                    $("#stream ol").prepend(html);
                }
                
                // $("#" + tweet['twitter_id'] + "_div").fadeIn();
            }

            function changeTitle() {
                if (blinkerInterval !== null && windowFocus === false) {
                    document.title = document.title == "Live View" ? "Activity!" : "Live View";
                } else {
                    document.title = "Live View";
                } 
            }
        </script>

    </head>
    <body style="">

      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">ML Systems</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact us</a></li>
              </ul>

              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="/logout"> {{ username }} </a></li>
                </ul>
              </div>
            </div>
          
          </div>

        </div>
        <div class="container">
            <div id="stream">
                <ol class="list-unstyled">
                </ol>
            </div>
        </div>
      </div>

    </body>
</html>