<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ML Systems landing page">
    <meta name="author" content="ML Systems">

    <title>{% block title %} {{ title }} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
    </head>
    <body style="">

      <div class="container" ng-app="mlApp">
        <header ng-include="'/partials/nav.html'"></header>
        <!-- <div ng-controller="NavController">
            <div ng-view></div>
        </div> -->

        <div class="container-fixed">

            <div class="ml-container">
                <div class="row">
                    <div ui-view>
                    </div>
                </div>

            </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autobahn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular-ui-router.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mlApp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
    </body>
</html>