<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ML Systems landing page">
    <meta name="author" content="ML Systems">

    <title>{% block title %} {{ title }} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autobahn.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
        <script>
            window.wssession = null;
            var blinkerInterval = null,
                windowFocus = true,
                scrollTimeout = null,
                local = true == {{ local|tojson|safe }},
                scrollable = true,
                _tmpl_cache = {};

            $(document).ready(function() {
                getHbsTemplate('SocialDocument');
                getHbsTemplate('ReplyTo');
                getHbsTemplate('SocialTrainer');

                getTimelines(function(data) {
                    for (var prop in data) {
                        if (data.hasOwnProperty(prop)) {
                            for(var i=0; i < data[prop].statuses.length;i++) {
                                addTweet(data[prop].statuses[i], false, "#timelines");
                            }
                        }

                    }
                });
                $(window).focus(function() {
                    clearInterval(blinkerInterval);
                    windowFocus = true;
                    blinkerInterval = null;
                    $("title").text("ML Systems");
                });

                $(window).blur(function() {
                    windowFocus = false;
                });

                $(document).scroll(function() {
                    if (scrollable === true) {
                        clearTimeout(scrollTimeout);
                        scrollTimeout = setTimeout(function() {

                            var currentPos = $(window).scrollTop() + $(window).height();

                            if (currentPos >= $(document).height()) {
                                //This jquery gives us the the date/time of the last element on the page ;)
                                //Will need to be updated though according to the structure of the tweets so this isn't a
                                //best-practice since it's coupled tightly
                                var date = new Date(Date.parse($("#stream ol li:last-child h4 small").html()));
                                scrollable = false;
                                getSomeTweets(date.toISOString(), false);
                                
                            }
                        }, 100);
                    }
                });

                var wsUrl = "ws://localhost:9001";
                if (!local) {
                    wsUrl = "ws://mlsystems.io/wamp";
                }

                ab.connect(wsUrl, function(session) {
                    window.wssession = session;
                    window.wssession.subscribe('feed', topicActivity);

                    getSomeTweets(new Date().toISOString(), false);
                }, function(code, reason,detail) {
                    console.log("WS connection attempt failed");
                    console.log(reason);
                }, {
                    'maxRetries': 60,
                    'retryDelay': 2000
                });
            });
    
            function getSomeTweets(date, prepend) {
                if (typeof date === "undefined" || date === null) {
                    date = new Date().toISOString();
                }
                console.log("Calling server for more tweets");

                window.wssession.call('#getInit', date).then(
                    function(result) {
                        console.log("Got getSomeTweets result");
                        console.log(result);
                        if ("push" in result) {
                            scrollable = true;
                            for (var i=0; i<result.length;i++) {
                                tweet = JSON.parse(result[i].replace(/'/g, '"'));
                                tweet['text'] = tweet['message'];
                                addTweet(tweet, prepend, "#stream", true);
                            }
                        } else {
                            console.log("Uhh it's not an array....");
                            console.log(result);
                        }
                        
                    },
                    function(error) {console.log(error);}
                );
            }

            function topicActivity(topic, event) {
                event = JSON.parse(event);
                console.log(event);
                if (event.hasOwnProperty("username")) {
                    addTweet(event, true);
                    blinkerInterval = window.setInterval(changeTitle, 700);
                }
            }

            function addTweet(tweet, prepend, div, training) {
                if (!div) {
                    div = "#stream";
                }

                if (typeof training === "undefined" || training === null) {
                    training = false;
                }

                var children = $(div + " ol").children().length;
                
                if (children >= 10 && prepend === true) {
                    $("#stream ol li:last-child").remove();
                }
                // console.log(tweet);
                var username = tweet.hasOwnProperty('username') ? tweet['username'] : tweet['user']['screen_name'],
                    id = tweet.hasOwnProperty('twitter_id') ? tweet['twitter_id'] : tweet['idstr'],
                    date = tweet.hasOwnProperty('created_date') ? tweet['created_date'] : tweet['created_at'],
                    msg = tweet.hasOwnProperty('text') ? tweet['text'] : tweet['message'];

                var html = getHbsTemplate('SocialDocument'),
                    template = Handlebars.compile(html),
                    context = {
                        id: id,
                        twitter_id: id,
                        date: new Date(Date.parse(date + " GMT")).toLocaleString(),
                        text: msg,
                        username: username
                    };

                if (prepend === false) {
                    $(div + " ol").append(template(context));
                } else {
                    $(div + " ol").prepend(template(context));
                }

                if (training === true && ($('li#' + id +' .ml-trainer').length == 0)) {
                    var trainTemplate = Handlebars.compile(getHbsTemplate('SocialTrainer'));
                    $('li#' + id).prepend(trainTemplate({twitter_id: id}));
                }

                // '<div id="hidden-reply-to-' + id +'" style="display: none; border-top: solid 1px #ccc">' +
                // '   <textarea id="reply-to-textarea-' + id + '" class="form-control" rows="3" placeholder="Reply to this status"></textarea>' +
                // '   <div>' +
                // '       <span id="char-count-reply-' + id +'"></span>' +
                // '       <button id="reply-to-button-' + id + '" type="button" class="btn btn-primary button-inline"><span class="ion-ios7-paperplane-outline" style="font-size: 18pt;"></span></button>' +
                // '   </div>' +
                // '</div>' +
                // '</div>';


                
                $('#' + tweet['twitter_id'] + '-link-good').click(function(e, evt) {
                    $('#' + tweet['twitter_id'] + '-link-good span').css('opacity', 0.9);
                    window.wssession.call('#acceptable', tweet['twitter_id']);
                });

                $('#' + tweet['twitter_id'] + '-link-bad').click(function(e, evt) {
                    $('#' + tweet['twitter_id'] + '-link-bad span').css('opacity', 0.9);
                    window.wssession.call('#unacceptable', tweet['twitter_id']);
                });


                $('#reply-to-' + id).click(function(e, evt) {
                    $('#hidden-reply-to-' + id).show();
                    $('#reply-to-textarea-' + id).keydown(function(e, evt) {
                        $('#char-count-reply-' + id).html(140 - $('#reply-to-textarea-' + id).val().length);
                    });
                });

                var url;
                if (local) {
                    url='http://localhost:5000/reply';
                } else {
                    url = 'http://mlsystems.io/reply';
                }

                var postData = {
                    reply_as: '',
                    text: $('#reply-to-textarea-' + id).val()
                };

                $('#reply-to-button-' + id).click(function(e, evt) {
                    $.ajax({url: url, type: 'POST', data: JSON.stringify(postData)}).done(function(data) {
                        console.log('we done');
                        console.log(data);
                    }).fail(function(f) {
                        console.log(f);
                    });
                });

                // $("#" + tweet['twitter_id'] + "_div").fadeIn();
            }

            function changeTitle() {
                if (blinkerInterval !== null && windowFocus === false) {
                    document.title = document.title == "ML Systems" ? "Activity!" : "ML Systems";
                } else {
                    document.title = "ML Systems";
                } 
            }

            function getTimelines(cb) {
                var url;
                if (local) {
                    url='http://localhost:5000/gettimelines';
                } else {
                    url = 'http://mlsystems.io/gettimelines';
                }

                $.ajax({
                    url: url,
                    accepts: '*/*'
                }).done(function(data) {
                    console.log(JSON.parse(data));
                    cb(JSON.parse(data));
                }).fail(function(error) {
                    console.log("Error");
                    console.log(error);
                });
            }

            function replyToTweet(id) {
                var x = $('#SocialDocument').html();
                return x;
            }

            function getHbsTemplate(name) {
                if (name in _tmpl_cache) {
                    return _tmpl_cache[name];
                }

                var url;

                if (local) {
                    url = 'http://localhost:5000/static/partials/' + name + '.html';
                } else {
                    url = 'http://mlsystems.io/static/partials/' + name + '.html';
                }

                var tmpl_string;
                $.ajax({
                    url: url,
                    method: 'GET',
                    async: false,
                    success: function(data) {
                        console.log("Got template:");
                        console.log(data);
                        tmpl_string = data;
                    }
                });

                if (tmpl_string) {
                    _tmpl_cache[name] = tmpl_string;

                    return tmpl_string;
                } else {
                    return "";
                }
            }
        </script>
    </head>
    <body style="">

      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">ML Systems</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact us</a></li>
              </ul>

              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">{{ username }}
                        <span class="ion-arrow-down-b"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/addtwitter"><span class="ion-plus-round"></span> &nbsp;&nbsp;Add Twitter Accounts</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/account"><span class="ion-ios7-gear"></span> &nbsp;&nbsp;Account Settings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"><span class="ion-paper-airplane"></span> &nbsp;&nbsp;Feedback</a></li>
                    </ul>
                  </li>
                  <li>
                    <a class="ml-logout-link" href="{{ url_for('auth.logout') }}">
                        <span id="ml-logout-icon" class="ion-log-out"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          
          </div>

        </div>
        <div class="container">

            <div class="ml-container">
                <div class="row">
                    <div id="stream" class="col-md-4 ml-stream-container" style=" ">
                        <h3 style="padding-left: 10px;">ML Stream</h3>
                        <ol class="list-unstyled">
                        </ol>
                    </div>
                    <div id="timelines" class="col-md-4 ml-stream-container" style="margin-left: 20px;">
                        <h3 style="padding-left: 5px;">Your timelines</h3>
                        <ol class="list-unstyled">
                        </ol>
                    </div>
                    <div id="saved-searches" class="col-md-4 col-md-offset-8">
                        <ol class="list-unstyled">
                        </ol>
                    </div>
                </div>
            </div>

        </div>
      </div>

    </body>
</html>