<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ML Systems landing page">
    <meta name="author" content="ML Systems">

    {% block head %}
    <title>{% block title %} {{ title }} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">

    <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </head>
  <body style="">
    {% block body %}
    <!-- <div class="navbar-wrapper"> -->
      <div id="ml-nav-container" class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">ML Systems</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>

              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="/home">{% if user is not none %} {{ user.username }} {% else %} Log in {% endif %}</a></li>
                  <li>
                    <a class="ml-logout-link" href="{{ url_for('auth.logout') }}">
                        {% if user %}
                        <i class="fa fa-sign-out fa-lg"></i>
                        {% endif %}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          
          </div>

        </div>

      </div>
      <div class="jumbotron">
        <div class="container text-center">
        <h1>SmartConnect</h1>
        <p>Future of social media customer acquisition</p>
        <p><a class="btn btn-primary btn-lg" role="button">Request Demo</a></p>
      </div>
      </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <a href="#">
              <i class="fa fa-bullhorn fa-5x" style="color: rgb(90, 90, 90);"></i>
            </a>
          <h2>Expand your reach.</h2>
          <p>Increase your connection potential to include potential customers as well as current customers.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#">
            <i class="fa fa-comments fa-5x" style="color: rgb(90, 90, 90);"></i>
          </a>
          <h2>Cut through the chatter</h2>
          <p>Intelligently tune out the noise of social media, and tune in to the customers you want.<p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#">
            <span class="fa fa-5x" style="color: rgb(90, 90, 90); font-style: normal; font-variant: normal;">#</span>
          </a>
          <h2>Go beyond hashtags.</h2>
          <p>Don't settle for hashtags and key word searches. Leverage the power of innovative machine learning to take customer acquisition to the next level.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Machine Learning. <span class="text-muted">For better results.</span></h2>
          <p class="lead">We connect directly to social media website APIs. We then use advanced machine learning algorithms to intelligently identify potential customers out of millions upon millions of posts based on parameters relevant to your unique market. The algorithm then responds to your interaction to get smarter the more you use it.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">A Familiar Interface. <span class="text-muted">Unfamiliar power.</span></h2>
          <p class="lead">No reinvented wheels here. Enjoy our intuitive interface and suite of tools inspired by industry best practices. While your user experience will be comfortably familiar, the power of connecting with potential customers will redefine what you thought possible.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Complete Package. </h2>
          <p class="lead">Existing social media marketing tools restrict your reach within the limits of keyword searches. SmartTarget goes beyond keyword searches with machine learning to give you the most complete social media marketing tool available. Break through to the next level.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
      </div>

      <hr class="featurette-divider">    
    {% endblock %} 
    
    <footer>
      <p class="text-center">
        {% block footer %}
        &copy; Copyright 2014 ML Systems, LLC.
        {% endblock %}
      </p>
    </footer>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#myCarousel').carousel();
      });
    </script>

  </body>
</html>